interactions:
- request:
    body: ''
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BRING-API-KEY: [cof4Nc6D8saplXjE3h3HXqHH8m7VU2i1Gs0g85Sp]
      X-BRING-CLIENT: [webApp]
      X-BRING-CLIENT-INSTANCE-ID: [Web-dbwoh1VmlMaGf7RyIcPnLUnGbyd8iwn2]
      X-BRING-CLIENT-SOURCE: [webApp]
      X-BRING-COUNTRY: [DE]
    method: POST
    uri: https://api.getbring.com/rest/v2/bringauth
  response:
    body: {string: '{"message": "email password combination not existing", "errorcode":
        200, "access_token": "replaced_access_token", "refresh_token": "replaced_refresh_token",
        "email": "replaced_email", "name": "replaced_name", "photoPath": "replaced_photoPath"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 401, message: Unauthorized}
version: 1
