interactions:
- request:
    body: ''
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BRING-API-KEY: [cof4Nc6D8saplXjE3h3HXqHH8m7VU2i1Gs0g85Sp]
      X-BRING-CLIENT: [webApp]
      X-BRING-CLIENT-INSTANCE-ID: [Web-dbwoh1VmlMaGf7RyIcPnLUnGbyd8iwn2]
      X-BRING-CLIENT-SOURCE: [webApp]
      X-BRING-COUNTRY: [DE]
    method: POST
    uri: https://api.getbring.com/rest/v2/bringauth
  response:
    body: {string: '{"uuid": "129be135-5164-4613-a023-19320b4a835b", "publicUuid":
        "0d3fb405-dcc3-4cfb-9d76-fb6978951acc", "email": "replaced_email", "name":
        "replaced_name", "photoPath": "replaced_photoPath", "bringListUUID": "bd48e47a-65ce-44fc-8789-176c484d544f",
        "access_token": "replaced_access_token", "refresh_token": "replaced_refresh_token",
        "token_type": "Bearer", "expires_in": 604740}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
