interactions:
- request:
    body: ''
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BRING-API-KEY: [cof4Nc6D8saplXjE3h3HXqHH8m7VU2i1Gs0g85Sp]
      X-BRING-CLIENT: [webApp]
      X-BRING-CLIENT-INSTANCE-ID: [Web-dbwoh1VmlMaGf7RyIcPnLUnGbyd8iwn2]
      X-BRING-CLIENT-SOURCE: [webApp]
      X-BRING-COUNTRY: [DE]
    method: POST
    uri: https://api.getbring.com/rest/v2/bringauth
  response:
    body: {string: '{"uuid": "129be135-5164-4613-a023-19320b4a835b", "publicUuid":
        "0d3fb405-dcc3-4cfb-9d76-fb6978951acc", "email": "replaced_email", "name":
        "replaced_name", "photoPath": "replaced_photoPath", "bringListUUID": "bd48e47a-65ce-44fc-8789-176c484d544f",
        "access_token": "replaced_access_token", "refresh_token": "replaced_refresh_token",
        "token_type": "Bearer", "expires_in": 604740}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BRING-API-KEY: [cof4Nc6D8saplXjE3h3HXqHH8m7VU2i1Gs0g85Sp]
      X-BRING-CLIENT: [webApp]
      X-BRING-CLIENT-INSTANCE-ID: [Web-dbwoh1VmlMaGf7RyIcPnLUnGbyd8iwn2]
      X-BRING-CLIENT-SOURCE: [webApp]
      X-BRING-COUNTRY: [DE]
      X-BRING-USER-UUID: [129be135-5164-4613-a023-19320b4a835b]
    method: GET
    uri: https://api.getbring.com/rest/v2/bringusers/129be135-5164-4613-a023-19320b4a835b/lists
  response:
    body: {string: '{"lists": [{"listUuid": "bd48e47a-65ce-44fc-8789-176c484d544f",
        "name": "Zuhause", "theme": "ch.publisheria.bring.theme.home"}, {"listUuid":
        "75cf254b-7185-47b4-8c77-b02b89de53b6", "name": "Test-List", "theme": "ch.publisheria.bring.theme.office"}],
        "access_token": "replaced_access_token", "refresh_token": "replaced_refresh_token",
        "email": "replaced_email", "name": "replaced_name", "photoPath": "replaced_photoPath"}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"-1349647667-gzip"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BRING-API-KEY: [cof4Nc6D8saplXjE3h3HXqHH8m7VU2i1Gs0g85Sp]
      X-BRING-CLIENT: [webApp]
      X-BRING-CLIENT-INSTANCE-ID: [Web-dbwoh1VmlMaGf7RyIcPnLUnGbyd8iwn2]
      X-BRING-CLIENT-SOURCE: [webApp]
      X-BRING-COUNTRY: [DE]
      X-BRING-USER-UUID: [129be135-5164-4613-a023-19320b4a835b]
    method: GET
    uri: https://api.getbring.com/rest/v2/bringlists/75cf254b-7185-47b4-8c77-b02b89de53b6
  response:
    body: {string: '{"uuid": "75cf254b-7185-47b4-8c77-b02b89de53b6", "status": "REGISTERED",
        "purchase": [], "recently": [{"specification": "", "name": "Bread"}], "access_token":
        "replaced_access_token", "refresh_token": "replaced_refresh_token", "email":
        "replaced_email", "name": "replaced_name", "photoPath": "replaced_photoPath"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: uuid=75cf254b-7185-47b4-8c77-b02b89de53b6&purchase=Bread&specification=
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BRING-API-KEY: [cof4Nc6D8saplXjE3h3HXqHH8m7VU2i1Gs0g85Sp]
      X-BRING-CLIENT: [webApp]
      X-BRING-CLIENT-INSTANCE-ID: [Web-dbwoh1VmlMaGf7RyIcPnLUnGbyd8iwn2]
      X-BRING-CLIENT-SOURCE: [webApp]
      X-BRING-COUNTRY: [DE]
      X-BRING-USER-UUID: [129be135-5164-4613-a023-19320b4a835b]
    method: PUT
    uri: https://api.getbring.com/rest/v2/bringlists/75cf254b-7185-47b4-8c77-b02b89de53b6
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      Location: ['https://api.getbring.com/rest/v2/bringlists/75cf254b-7185-47b4-8c77-b02b89de53b6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BRING-API-KEY: [cof4Nc6D8saplXjE3h3HXqHH8m7VU2i1Gs0g85Sp]
      X-BRING-CLIENT: [webApp]
      X-BRING-CLIENT-INSTANCE-ID: [Web-dbwoh1VmlMaGf7RyIcPnLUnGbyd8iwn2]
      X-BRING-CLIENT-SOURCE: [webApp]
      X-BRING-COUNTRY: [DE]
      X-BRING-USER-UUID: [129be135-5164-4613-a023-19320b4a835b]
    method: GET
    uri: https://api.getbring.com/rest/v2/bringlists/75cf254b-7185-47b4-8c77-b02b89de53b6
  response:
    body: {string: '{"uuid": "75cf254b-7185-47b4-8c77-b02b89de53b6", "status": "REGISTERED",
        "purchase": [{"specification": "", "name": "Bread"}], "recently": [], "access_token":
        "replaced_access_token", "refresh_token": "replaced_refresh_token", "email":
        "replaced_email", "name": "replaced_name", "photoPath": "replaced_photoPath"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
